parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 2
			path: src/NodeFilter/NodeCollection.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/NodeFilter/NodeCollection.php

