includes:
    - phpstan-baseline.neon

parameters:

    level: 7

    paths:
        - src
        - tests

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
